<!DOCTYPE html>
<html lang="en">

    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Liability Lobby</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="{% static 'bootstrap-4.1.0-dist/css/bootstrap.min.css'%}">
        <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/lobby_style.css' %}">

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="assets/ico/favicon.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'ico/apple-touch-icon-144-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href=" {% static 'ico/apple-touch-icon-114-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{$ static 'ico/apple-touch-icon-72-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" href="{% static 'ico/apple-touch-icon-57-precomposed.png' %}">

    </head>

    <body>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
              <a class="navbar-brand" href="#"><img src="{% static 'img/logos/logo-xs-2.png' %}"></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="/">Liability <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/lobby">Lobby</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {{request.session.user_name}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">Profile</a>
                      <a class="dropdown-item" href="#">Settings</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                  </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
              </div>
            </nav>
            <!-- Main content area -->
            <div class="row">
                <div class="col-md-8 col-sm-12" id="chat">
                    <textarea id="chat-log" readonly></textarea>
                    <br/>
                    <input id="chat-message-input" type="text" />
                    <!-- <br/> -->
                    <input id="chat-message-submit" type="button" value="Send" />
                </div>
                <div class="col-md-4 col-sm-12" id="right_info_pane">
                    <!-- Updates -->
                    <div class="row" id="updates">
                        <div class=col>
                             <div class="row">
                                <div class="col">
                                    <h3>Updates</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <ul>
                                        <li>Jerome Passed his belt exam</li>
                                        <li>Tim has an unhealthy obsession with Brian</li>
                                        <li>I'm tired of ramen</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <h3>Joined Games</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8">Game Name</div>
                                <div class="col-sm-2">Turn</div>
                            </div>
                            <div id="player_games"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-sm-6 col-xs-12 btn btn-dark" id="quickplay_4">Quickplay 4</div>
                <div class="col-md-2 col-sm-6 col-xs-12 btn btn-dark" id="quickplay_8">Quickplay 8</div>
                <div class="col-md-2 col-sm-6 col-xs-12 btn btn-dark" id="join_custom">Join Custom</div><input type="text" name="custom_game" id="custom_game_id_field" placeholder="Unique Key">
                <div class="col-md-2 col-sm-12 col-xs-12 btn btn-dark" id="create_game">Create Game</div>
            </div>
            <input type="hidden" id="user_id" value="{{request.session.id}}">
            <input type="hidden" id="user_name" value="{{ request.session.user_name }}">
        </div>



        <!-- Javascript -->
        <script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
        <script src="{% static 'bootstrap-4.1.0-dist/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/jquery.backstretch.min.js' %}"></script>
        <script src="{% static 'js/lobby_scripts.js' %}"></script>

    </body>

</html>
