body { margin: 0; overflow: hidden;}
canvas{
    width:80%;
    height:80%;
    outline:1px solid red;
}

#view {
    top: 0;

}
form{
    width:25%;
    text-align: right;
    float:right;
}

.user_icon {
  border-radius: 25px;
  width: 50px;
}
