body {
  margin: 0;
  overflow: hidden;
  background-color: #DAE0F2;
}
canvas{
    width:80%;
    height:80%;
    outline:1px solid black;
}

#view {
    top: 0;
}

form{
    text-align: center;
}

.user_icon {
  border-radius: 25px;
  width: 50px;
}

.wrapper{
    display:flex;
    justify-content: center;
    width:95%;
    margin:auto;
    margin-top:20px;
}

.controls{
    display:flex;
    flex-direction: column;
    padding-top:10%;
    text-align: center;
    flex-grow: 1;
    margin:0;
}
.controls input, .controls button{
    width:100%;
    margin:10px;
}

#gameView{
    flex-grow: 1;
    margin:10px;
    width:70%;
    min-height: 524px;
    max-height: 800px;
    height:100%;
}

.title{
    text-align: center;
}

#info_tile{
  padding: 4px 10px 4px 2px;
  position: absolute;
  display: block;
  font-family: monospace;
  color: lightgray;
  background-color: rgba(63, 72, 80, 0.85);
  border-radius: 5px;
  min-height: 100px;
  min-width: 100px;
  box-shadow: 0px 0px 20px black;
}

#info_tile tr{
  margin: 2px 4px;
}

#info_tile td{
  font-size: 16px;
}

.align-right{
  text-align: right;
}

.purchase_button{
  vertical-align: top;
  display: block;
  border: none;
  border-radius: 3px;
  margin: 5px auto;
  background-color: #e5e60f;
  color: white;
  font-weight: bolder;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(48, 43, 59, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 90px;
}

.sidenav a {
    border-radius: 5px;
    margin: 8px 32px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: lightgray;
    text-align: center;
    display: block;
    transition: 0.3s;
}

.sidenav .forsale{
    background-color: #f2f300;
}

.sidenav .highlight{
    background-color: #e4281a;
}

.sidenav .expense{
    background-color: #4285f4;
}

.sidenav a:hover {
    color: #f1f1f1;
    box-shadow: 0px 0px 13px rgba(255,255,0,0.3;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
